{% extends "template.html" %}

{% block title %}{% endblock %}

{% block content %}

    <div class="creation_container">
        <h3>Add new vocab</h3>
    <form action="/save_vocab" method="POST">
        
        <p>
            <label for="word">word</label>: <br />
            <input type="text" name="word" id ="word" required />
        </p>
        <p>
            <label for="description">Description</label>: <br />
            <input type="text" name="description" size = 100 id = "description" required/>

        </p>
            <p>
            <label for="example">Example sentence</label>: <br />
            <input type="text" name="example" size = 100 id = "example" required/>

        </p>
        </p>
            <p>
            <label for="synonyms">Synonyms</label>: <br />
            <input type="text" name="synonyms" size = 50 id = "synonyms" required/>

        </p>
        <p>
            <select id ="global_flag" name="global_flag" required>
                {% for visibility in visibilities %}
                   <option value = {{visibility.status_id}} >{{visibility.status_description}}</option>
                {% endfor %}
            </select>  
        </p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Save" class = "btn" />
        <a href = "/vocab_list" class="btn">Cancel </a>
    </form>
    </div>
 {% endblock %}