{% extends "template.html" %}

{% block title %}Maintain{% endblock %}

{% block content %}
    <form action="/update/{{vocab.id}}" method="POST">
        <p>
            <label for="word">Word</label>: <br />
            <input type="text" name="word" value = "{{vocab.word}}" id ="word" required/>
        </p>
        <p>
            <label for="description">Description</label>: <br />
            <input type="text" name="description" size = 100 value = "{{ vocab.w_description }}" id = "description" required/>

        </p>
            <p>
            <label for="example">Example sentence</label>: <br />
            <input type="text" name="example" size = 100 value = "{{ vocab.example }}" id = "example" required/>

        </p>
        
        <p>
            <label for="synonyms">Synonyms</label>: <br />
            <input type="text" name="synonyms" size = 50 value = "{{vocab.synonyms}}" id = "synonyms" required />

        </p>

        <p>
            <label for="global_flag">Visibility</label>: <br />
            <select id ="global_flag" name="global_flag" required>
                {% for visibility in visibilities %}
                  {% if vocab.global_flag == visibility.status_id %}
                  <option value = {{visibility.status_id}} selected> {{visibility.status_description}} </option>
                  {% else %}
                <option value = {{visibility.status_id}} >{{visibility.status_description}}</option>
                  {% endif %}

                {% endfor %}
            </select> 
            

        </p>
        <p>
            <input type="hidden" name = "vocab_id" value =  "{{ vocab.id }}" id = "id"/> 
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        </p>



         <input type="submit" value="Save" />
         <input type="submit" value="Delete" name = "delete" />
    </form>
   
  {% endblock %}



