{% extends "template.html" %}

{% block title %}Main page{% endblock %}

{% block content %}
<h2>Welcome to eruditeEdge</h2>

eruditeEdge is a tool for practicing vocabulary in style of GRE vocabulary testing.
The collection of vocabularies is community driven and users can add their own vocabs and publish them as global to allow other users to include them in their trainings.
<br>
<div>
  Currently in database we have total of {{total_vocabs}} vocabs
</div>
<br>

<div class="example">
   <div class="vocab">
    <strong>Erudite</strong>
   </div>
   <div class ="vocab_example">
    <i>having or showing knowledge that is gained by studying : possessing or displaying erudition</i>
   </div>
   <div>
    <label for="synonyms"  >Synonyms</label>
    <div class ="synonyms" id = "synonyms">educated, well-read</div>
   </div>

</div>



{% endblock %}