{% extends "template.html" %}

{% block title %}Main page{% endblock %}

{% block content %}
<h2>Main</h2>

{% for message in get_flashed_messages() %}
<p class="info">
  {{ message }}
</p>
{% endfor %}
{% if session.user_id %}
<h2>Find vocabs</h2>
<p><italic>You can search for your own vocabs and vocabs marked as global. Write a word or part of the word witout any addtional characters.</italic></p>

<form action = "/" method="POST">
  <p>
    <label for="search">Search term</label>: <br />
    <input type="text" name="search_t" id ="search" />
  </p>
  <p>
    <input type="submit" value = "search">
  </p>
</form>


  {% if vocabs %}
     <form action="/train_fl/{{search_t}}" method="POST">
      <input type="submit" value = "Practice selection with Flashcards" name = "train" >
     </form> 
     <table>
      <tr>
        <th>Word</th>
        <th>Desription</th>
        <th>Example sentence</th>
        <th>Synonyms</th>
        <th>Visibility</th>
      </tr>
      {% for vocab in vocabs %}
       <tr>
         <td><a href="/view/{{ vocab.id }}" > {{vocab.word}}</a></td>
         <td>{{ vocab.w_description }}</td>
         <td>{{ vocab.example }}</td>
         <td>{{ vocab.synonyms }}</td>
         <td>{{ vocab.flag_description }}</td>
       </tr> 
      {% endfor %}

    </table>
  {% endif %}
{% endif %}
{% endblock %}