<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>login</title>
</head>
<body>
    <form action="/login" method="POST">
               <p>userid :
            <label for="username">User id</label>: <br />
            <input type="text" name="username" value = {{username}} id ="username" />
        </p>
        <p>
            <label for="password">Password</label>: <br />
            <input type="password" name="password" id = "password"/>
     <input type="submit" value="login" />
    </form>
     {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
     {% block body %}{% endblock %}
</body>
</html>