{% extends "template.html" %}

{% block title %}Maintain{% endblock %}

{% block content %}
    <form action="/login" method="POST">
               <p>
            <label for="username">User id</label>: <br />
            <input type="text" name="username" id ="username" value = "{{ username }}"/>
        </p>
        <p>
            <label for="password">Password</label>: <br />
            <input type="password" name="password" id = "password"/>
     <input type="submit" value="login" />
    </form>
 {% endblock %}