

{% extends "template.html" %}

{% block title %}Maintain{% endblock %}

{% block content %}
<h2>Add new vocab</h2>

    <form action="/maintain" method="POST">
        
        <p>
            <label for="word">word</label>: <br />
            <input type="text" name="word" id ="word" />
        </p>
        <p>
            <label for="description">Description</label>: <br />
            <input type="text" name="description" size = 100 id = "description"/>

        </p>
            <p>
            <label for="example">Example sentence</label>: <br />
            <input type="text" name="example" size = 100 id = "example"/>

        </p>
        </p>
            <p>
            <label for="synonyms">Synonyms</label>: <br />
            <input type="text" name="synonyms" size = 50 id = "synonyms"/>

        </p>
         <input type="submit" value="Save" />
    </form>
  
   <td>
      <h2> existing vocabs </h2>
   </td>

    <table>
      <tr>
        <th>Word</th>
        <th>Desription</th>
        <th>Example sentence</th>
        <th> synonyms</th>
        <th>global flag</th>
      </tr>
      {% for vocab in vocabs %}
       <tr>
        {%if vocab.user_id == session["user_id"]%}
         <td><a href="/edit/{{ vocab.id }}" > {{vocab.word}}</a></td>
        {% else %}
         <td> {{ vocab.word }}</td>
        {% endif %}
         <td>{{ vocab.w_description }}</td>
         <td>{{ vocab.example }}</td>
         <td>{{ vocab.synonyms }}</td>
         <td>{{ vocab.global_flag }}</td>
       </tr> 
      {% endfor %}

    </table>

 {% endblock %}
