

{% extends "template.html" %}

{% block title %}Maintain{% endblock %}

{% block content %}
<h2>Add new vocab</h2>

    <form action="/maintain" method="POST">
        
        <p>
            <label for="word">word</label>: <br />
            <input type="text" name="word" id ="word" required />
        </p>
        <p>
            <label for="description">Description</label>: <br />
            <input type="text" name="description" size = 100 id = "description" required/>

        </p>
            <p>
            <label for="example">Example sentence</label>: <br />
            <input type="text" name="example" size = 100 id = "example" required/>

        </p>
        </p>
            <p>
            <label for="synonyms">Synonyms</label>: <br />
            <input type="text" name="synonyms" size = 50 id = "synonyms" required/>

        </p>
        <p>
            <select id ="global_flag" name="global_flag" required>
                {% for visibility in visibilities %}
                   <option value = {{visibility.status_id}} >{{visibility.status_description}}</option>
                {% endfor %}
            </select>  
        </p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Save" />
    </form>
  
   <td>
      <h2> existing vocabs </h2>
   </td>

    <table>
      <tr>
        <th>Word</th>
        <th>Desription</th>
        <th>Example sentence</th>
        <th>Synonyms</th>
        <th>Visibility</th>
        <th>Change / Suggest change</th>
      </tr>
      {% for vocab in vocabs %}
       <tr>
         <td> {{ vocab.word }}</td>
         <td>{{ vocab.w_description }}</td>
         <td>{{ vocab.example }}</td>
         <td>{{ vocab.synonyms }}</td>
         <td>{{ vocab.flag_description }}</td>
         <td>  {%if vocab.user_id != session["user_id"]%}
                <a href="/suggest_changes/{{vocab.id}}"><img src="/static/suggest.png" alt="Suggest change" width="35" height="25"> </a>
                {%else%}
                 <a href="/edit/{{ vocab.id }}" ><img src="/static/change.png" alt ="Change" width="35" height="25"> </a>
               {%endif%}
         </td>
       </tr> 
      {% endfor %}

    </table>

 {% endblock %}
