{% extends "template.html" %}

{% block title %}Flashcards{% endblock %}

{% block content %}
  
   
<div class="flashcard-container">
    {% for vocab in vocabs %}
    <div class="flashcard">
        <input type="checkbox" id="card-{{ loop.index }}" class="card-checkbox">
        <label for="card-{{ loop.index }}">
            <div class="front">
                <p>{{ vocab.word }}</p>
            </div>
            <div class="back">
                <p>{{ vocab.w_description }}</p>
            </div>
        </label>
    </div>
    {% endfor %}
</div>
   
{% endblock %}