{% extends "template.html" %}

{% block title %}Flashcards{% endblock %}

{% block content %}
{%if session.training_id%}
<div class="buttonbox">
 
    <form action="/test_id/{{session.training_id}}" method="POST">
        <input type ="submit" value ="Test your knowledge of this set">
    </form>
   
</div>  
{%endif%}  
<div class="flashcard-container">
    {% for vocab in vocabs %}
    <div class="flashcard">
        <input type="checkbox" id="card-{{ loop.index }}" class="card-checkbox">
        <label for="card-{{ loop.index }}">
            <div class="front">
                <p>{{ vocab.word }}</p>
            </div>
            <div class="back">
                <p>{{ vocab.w_description }}</p>
            </div>
        </label>
    </div>
    {% endfor %}
</div>

   
{% endblock %}