{% extends "template.html" %}

{% block title %}Maintain{% endblock %}

{% block content %}
    <h2> Create a new user</h2>
    <form action="/register" method="POST">
        <p>userid :
            <label for="username">User id</label>: <br />
            <input type="text" name="username" value = {{username}} id ="username" />
        </p>
        <p>
            <label for="password1">Password</label>: <br />
            <input type="password" name="password" id = "password"/>

        </p>
            <p>
            <label for="password2">Repeat password</label>: <br />
            <input type="password" name="password2" id = "password2"/>

        </p>
         <input type="submit" value="register" />
    </form>
{% endblock %}
