<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/main.css">

<head>
    <meta charset="UTF-8" />
    <title>title</title>
</head>
<body>
    <div class="header">
        <a = href="/">
            <img src="/static/Eelogo.jpg" width="120" height="50" >
        </a>
    </div>
    <div class="nav">
    <p>
      {% if session.user_id %}
       <a = href="/maintain">Maintain vocabulary</a>
       <a = href="/logout"> Log out </a>

      {% else %}
       <a href="/login">Log in!</a> |
       <a href="/register">Register a new user</a>
      {% endif %}
    </p>
    </div>
  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}
  {% block content %}{% endblock %}  
</body>
</html>