<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/main.css">

<head>
    <meta charset="UTF-8" />
    <title>eruditeEdge</title>
    <link rel="icon" href="/static/EE icon.png" type = "image/x-icon">
</head>
<body>
    <div class="header">
        <a href="/">
            <img src="/static/Eelogo.jpg" width="130" height="50" >
        </a>
    </div>
    <div class="nav">
    <p>
      {% if session.user_id %}
       <div class="nav-item"><a  href="/vocab_list">Vocabulary</a></div>
       <div class="nav-item"><a href="/init_training"> Practice</a></div>
       <div class="nav-item"><a href="/logout"> Log out </a></div>
       <div class="nav-item"><a href="/user_info"> User statistics</a></div>
       
      {% else %}
       <a href="/login">Log in!</a> 
       <a href="/register">Register a new user</a>
      {% endif %}
    </p>
    </div>
  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}
  {% block content %}{% endblock %}  
</body>
</html>