{% extends "template.html" %}

{% block title %} User home {% endblock %}

{% block content %}
<div class="User_stats">
    <h1>User {{session.username}}</h1>
    <p><strong> training sessions: {{ total_trainings}}</strong></p>
    <p><strong> vocabs created: {{ total_vocabs }}</strong></p>
    <p><strong>vocabs marked global: {{ total_global }}</strong></p>

</div>


<div class="user_training"s>
    <strong> Training sets done</strong>
     {% if trainings %}
     <table>
      <tr>
        <th>Id</th>
        <th>Last accessed</th>
        <th>Success rate</th>
        <th> Number of vocabs in set</th>
        <th></th>
        <th></th>
      </tr>
      {% for training in trainings %}
       <tr>
         <td> {{training.id}}</td>
         <td>{{ training.last_accessed }}</td>
         <td>{{ training.success_rate }}</td>
         <td>{{ training.no_of_vocabs}}</td>
         <td><a href="/train_id/{{training.id}}"> Retake test</a></td>
         <td><a href="/delete_training/{{training.id}}"><img src="/static/delete_icon.png" alt="Delete set" width="30" height="20"></a></td>
       </tr> 
      {% endfor %}

    </table>
  {% endif %}

</div>

{% endblock %}