{% extends "template.html" %}

{% block title %} User home {% endblock %}

{% block content %}
<div class="container">
    <h1>User {{session.username}}</h1>
    <p>Total training sessions: {{ total_trainings}}</p>
    <p>Total vocabs created: {{ total_vocabs }}</p>

    <div class="User-details">
        <form action="/load_training" method="POST"></form>
        <div class="Training sessions">
        {% for training in trainings %}
            <p></p>
             <input type="radio" id="training_id-{{ training.id }}" name="training_id" value="{{ training.id }}">
              <label for="training-{{ training.id }}">{{ training.id }} Last Success rate {{training.success_rate}}, Last accessed , Total vocabs: {{training.no_of_vocabs}}</label>
            </p>
        {% endfor %}
        </div>
        <button type="submit">Retake test</button>
    </form>
    </div>
</div>
{% endblock %}